---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cluster-image-registry-operator
  annotations:
    capability.openshift.io/name: ImageRegistry
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
rules:
- apiGroups:
  - imageregistry.operator.openshift.io
  resources:
  - "configs"
  - "configs/status"
  - "imagepruners"
  - "imagepruners/status"
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.openshift.io
  resources:
  - "images"
  - "images/status"
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.openshift.io
  resources:
  - apiservers
  - clusterversions
  - featuregates
  - infrastructures
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  - persistentvolumeclaims
  - pods
  - secrets
  - services
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  - clusterrolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - limitranges
  - resourcequotas
  - nodes
  verbs:
  - list
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  - routes/custom-host
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.openshift.io
  resources:
  - clusteroperators
  - clusteroperators/status
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - delete
- apiGroups:
  - config.openshift.io
  resources:
  - proxies
  verbs:
  - list
  - get
  - watch
# permissions required to grant image-registry permissions
- apiGroups:
  - "batch"
  resources:
  - cronjobs
  - jobs
  verbs:
  - get
  - list
- apiGroups:
  - "apps"
  resources:
  - daemonsets
  - deployments
  - replicasets
  - statefulsets
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - replicationcontrollers
  verbs:
  - get
  - list
- apiGroups:
  - "apps.openshift.io"
  resources:
  - deploymentconfigs
  verbs:
  - get
  - list
- apiGroups:
  - "build.openshift.io"
  resources:
  - buildconfigs
  - builds
  verbs:
  - get
  - list
- apiGroups:
  - "image.openshift.io"
  resources:
  - images
  verbs:
  - get
  - update
  - create
  - delete
  - list
  - watch
- apiGroups:
  - "image.openshift.io"
  resources:
  - imagestreams
  verbs:
  - get
  - list
  - watch
  - update
- apiGroups:
  - "image.openshift.io"
  resources:
  - imagestreams/status
  verbs:
  - update
- apiGroups:
  - "image.openshift.io"
  resources:
  - imagestreamimages
  - imagestreams/layers
  - imagestreams/secrets
  verbs:
  - get
- apiGroups:
  - "image.openshift.io"
  resources:
  - imagestreammappings
  verbs:
  - create
- apiGroups:
  - "image.openshift.io"
  resources:
  - imagestreamtags
  verbs:
  - delete
- apiGroups:
  - config.openshift.io
  resources:
  - imagedigestmirrorsets
  - imagetagmirrorsets
  verbs:
  - list
- apiGroups:
  - "operator.openshift.io"
  resources:
  - imagecontentsourcepolicies
  verbs:
  - list
- apiGroups:
  - "authorization.k8s.io"
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cluster-image-registry-operator
  namespace: openshift-image-registry
  annotations:
    capability.openshift.io/name: ImageRegistry
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
rules:
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  - replicasets
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - cronjobs
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - policy
  resources:
  - poddisruptionbudgets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: default-account-cluster-image-registry-operator
  annotations:
    capability.openshift.io/name: ImageRegistry
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
subjects:
- kind: ServiceAccount
  name: cluster-image-registry-operator
  namespace: openshift-image-registry
roleRef:
  kind: ClusterRole
  name: cluster-image-registry-operator
  apiGroup: rbac.authorization.k8s.io
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cluster-image-registry-operator
  namespace: openshift-image-registry
  annotations:
    capability.openshift.io/name: ImageRegistry
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
subjects:
- kind: ServiceAccount
  name: cluster-image-registry-operator
roleRef:
  kind: Role
  name: cluster-image-registry-operator
  apiGroup: rbac.authorization.k8s.io
